# Python
backend/__pycache__/
backend/uploads/
backend/model/
*.pyc
*.pyo
*.pyd
env/
venv/

# Node.js (React)
frontend/node_modules/
frontend/.vite/
frontend/.next/
dist/
build/

# System files
.DS_Store
Thumbs.db